<app-card class="card">
  <div class="line">
    <b>{{'detail.quarter_sessions' | translate: {number: quarter.number} }}   <span
      class="text-information">{{quarter.sessionInformation.current}}
      / {{quarter.sessionInformation.total}}</span></b>
  </div>
  <div class="container-list">
    <app-session-item *ngFor='let session of quarter.sessionInformation.sessions'
                      [session]='session' [isSelected]='sessionSelected === session.number'
                      (clickEmitter)='selectSession($event)'></app-session-item>
  </div>
</app-card>
