@import "/src/app/shared/styles/colors";

.dropdown-container {
  position: relative;
}

.floating-label {
  position: absolute;
  top: -14px;
  left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background-color: $primary;
  color: #007bff;
  pointer-events: none;
  transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  z-index: 1;
}

select {
  width: 100%;
  padding: 15px;
  border: 1px solid $shadow;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  z-index: 0;
}
