@import "/src/app/shared/styles/colors";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.selected {
  background-color: $accent;
  color: $primary;
}

.session-number {
  flex: 0;
  color: inherit;
}

.session-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  text-align: left;
}

.actions {
  flex: 0;
  text-align: right;
  display: flex;
  gap: 20px;
}

.action-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.play-button {
  background-color: $primary;
  border-radius: 5px;
}

img {
  display: block;
}
