<app-card class='card'>
  <b>{{'home.come_back' | translate}}</b>
  <p>{{lastQuarter.number}}º {{'shared.quarter' | translate}} <span>{{'shared.session' | translate}} {{lastSession.number}}
    , {{lastSession.name}}</span></p>
  <div class='button-container'>
    <app-button class='button' [iconName]='"play"' [label]='"home.ordered_reproduction" | translate'></app-button>
    <app-button class='button' [iconName]='"random"' [variant]='"secondary"' [label]='"home.shuffle" | translate'></app-button>
    <app-button class='button' [iconName]='"next"' [variant]='"secondary"' [label]='"home.next_session" | translate'></app-button>
  </div>
</app-card>
