$secondary: #00AEA4;
$primary: #FFFFFF;
$accent: #F26C48;
$chart: #ED993F;
$background_color: #F0F0F0;
$scroll_bar: #C4C4C4;
$shadow: #A9A9A9;
$grey_medium: #656565;
$grey_dark_icon: #4F4F4F;
$grey_dark: #3B3B3B;
$grey_translucent: rgba(59,59,59,0.5);
